<div class="home__container">
  <app-card
    gameCover="assets/bt-5.jpg"
    gameLabel="Exclusivo"
    gameType="PS5 | PS4 | PS3"
    gamePrice="R$ 109,99"
  ></app-card>
  <app-card
    gameCover="assets/bt-4.jpg"
    gameLabel="Digital"
    gamePrice="R$ 89,99"
    gameType="Digital | PS5 | PS4 | PS3"
  ></app-card>
  <app-card
    gameCover="assets/bt-bad-company-2.jpg"
    gameLabel="NEW"
    gamePrice="R$ 79,99"
    gameType="PS4 | PS5"
  ></app-card>
  <app-card
    gameCover="assets/bt-hardline.jpg"
    gameLabel="Exclusivo"
    gamePrice="R$ 109,99"
    gameType="PS5 | PS4 | PS3"
  ></app-card>
  <app-card
    gameCover="assets/ac-cover.jpg"
    gameLabel="MOST POPULAR"
    gamePrice="R$ 59,90"
    gameType="PS5 | PS4 | PS3"
  ></app-card>
  <app-card
    gameCover="assets/bt-1.jpg"
    gameLabel="Digital"
    gamePrice="R$ 29,99"
    gameType="Digital | PS2 | PS3"
  ></app-card>
</div>
